
body {
    font-family: "Optima", sans-serif;
    background-color: #f8f9fa;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    margin: 0;
}

.container {
    background-color: #171616c8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(246, 244, 244, 0.511);
    padding: 20px;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

h1 {
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 2em;
}

.or-text {
    color: white;
    font-weight: bolder;
    margin: 20px 0;
    font-size: 2em;
}

#initial, #gamePlay {
    margin: 20px 0;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

.h4 {
    font-size: 1.5em;
    margin: 20px 0;
}

.display-4 {
    font-size: 2em;
    margin: 20px 0;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.col-md-6 {
    flex: 1;
    padding: 10px;
}

.player-area {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.choice-button {
    color: transparent;
    background-position: center;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.rock {
    background-image: url('./assets/rock.png');
}

.paper {
    background-image: url('./assets/paper.png');
}

.scissor {
    background-image: url('./assets/scissor.png');
}

.choice-image {
    width: 100px;
    height: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white-text {
    color: white;
}

h3, #opponentState{
    color: white;
}
